# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# SingleStore
SINGLESTORE_HOST="your-singlestore-host.com"
SINGLESTORE_PORT=3306
SINGLESTORE_USER="your-username"
SINGLESTORE_PASS="your-password"
SINGLESTORE_DB_NAME="your-database-name"

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=dsadasdasdas
CLERK_SECRET_KEY=dsadasdasdasaaaa

UPLOADTHING_TOKEN='adsadas='

NEXT_PUBLIC_POSTHOG_KEY=dadasdsadsa
NEXT_PUBLIC_POSTHOG_HOST=dasdasdsa

RESEND_API_KEY=dsadasdasdsa

# Stripe
STRIPE_SECRET_KEY=dada
STRIPE_WEBHOOK_SECRET=dadad
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=dasdas
NEXT_PUBLIC_STRIPE_PRICING_TABLE_ID=dasdsad

UPSTASH_REDIS_REST_URL=dasdsa
UPSTASH_REDIS_REST_TOKEN=dsadas

STRIPE_PRICE_ID_STARTER_MONTHLY=dsad
STRIPE_PRICE_ID_PRO_MONTHLY=dsad

# QStash
QSTASH_URL=https://qstash.upstash.io
QSTASH_TOKEN=your-qstash-token
QSTASH_CURRENT_SIGNING_KEY=sig_your_current_signing_key
QSTASH_NEXT_SIGNING_KEY=sig_your_next_signing_key